{# projet/templates/gouvernances.html: #}
{% extends "layout.html" %}
  {% block content %}
    <h2>Equipe de direction </h2>
    <h2>Le fonctionnement du SmartLogiLab se base sur :</h2>
    <section>
        <ul>
            <div class="subsection">
                <li><h2>Une équipe de direction</h2>
                    <ul>
                        <li>Directeur Cyrille BERTELLE</li>
                        <li>Directeur adjoint recherche issu du LITIS Claude DUVALLET</li>
                        <li>Directeur opérationnel issu de SOGET Haïfa ABDELHAK</li>
                    </ul>
                 </li>
            </div>
            <div class="subsection">
                <li><h2>Un Conseil d’orientation scientifique (COS)</h2>
                      <ul>
                           <li>Vice-Président recherche de l’ULHN,</li>
                           <li>Responsable innovation de SOGET,</li>
                           <li>Consultant Senior SOGET, Olivier JEAN-DEGAUCHY</li>
                      </ul>
                 </li>
            </div>
        </ul>
    </section>
 {% endblock %}