{# projet/templates/index.html: #}
{% extends "layout.html" %}
	{% block title %}Le titre de ma page{% endblock %}


{% block content %}
<div class="container">
    <section>
        <h2>Présentation de SmartLogiLab</h2>
            <div class="subsection">
                <p>Le LabCom SmartLogiLab réunit les compétences de la société SOGET, un des leaders mondiaux pour le
développement de systèmes d’information logistiques sur les places portuaires et notamment au Havre et
du laboratoire de recherche LITIS regroupant les compétences académiques en STIC au sein des Universités
du Havre, de Rouen et de l’INSA de Rouen. Les grandes places portuaires mondiales font face à des enjeux
majeurs autour des évolutions technologiques et des nouvelles générations de systèmes d’information ayant
vocation à structurer leur environnement et leurs infrastructures. Une veille permanente aux interfaces de
la recherche appliquée et des innovations émergentes est nécessaire pour développer des solutions
numériques ambitieuses permettant au port du Havre de rester dans la course des leaders et des précurseurs
des places portuaires du futur. L’accélération actuelle sans précédent nécessite des associations plus fortes
et solides entre les compétences recherche qui se sont déployées depuis des années en logistique dans la
région normande via notamment la structure fédérative en logistique, SFLog, et via des grands projets FEDER
structurants (Classe, XTerM, etc.). SmartLogisLab vise à piloter cette veille pour développer des preuves de
concepts afin d’étudier des solutions innovantes à inclure dans les nouvelles générations des systèmes
d’information logistiques et portuaires que SOGET mettra en production. Ces nouveaux systèmes
d’information doivent aujourd’hui répondre aux récentes directives nationales, européennes ou
internationales liées à la digitalisation de l’ensemble de l’information à toutes les étapes du transport des
marchandises. SmartLogisLab concerne le développement de nouvelles générations de Port Community
System (PCS), intégrant des plateformes de données qui ont vocation à devenir des tiers de confiance entre
les différents acteurs de la place portuaire. La sécurisation et la gestion de la confiance entre les acteurs qui
partagent ces systèmes d’informations nécessitent d’implémenter notamment des solutions technologiques
à base de blockchains. Le développement de Smart Contracts permettra d’automatiser et de fluidifier
l’ensemble de la chaine logistique sur les places portuaires notamment sur les ports de HAROPA.</p>
            </div>
    </section>

    <section>
        <h2>Contexte, technologique et industriel</h2>
        <div class="subsection">
            Le 12 mars 2019, le Parlement Européen adopte une résolution concernant les informations électroniques
relatives au transport de marchandises2
. Il s’agit d’une évolution notable de la réglementation concernant la
digitalisation de l’ensemble de l’information à toutes les étapes du transport de marchandises. Faisant suite
à l’adoption des lettres de voitures électroniques pour lesquelles l’UN/CEFACT a développé un modèle de
standards3 technologiques, la digitalisation standardisée de tout le processus de transport de marchandise
est devenue une priorité incontournable des places portuaires qualifiées de « smart ports ». Ces places
portuaires et leurs systèmes d’information font face aujourd’hui à des grands enjeux qui sont le déploiement
des nouvelles technologies au sein des infrastructures portuaires et notamment, l’interconnexion à grande
échelle que permet l’Internet des Objets, ainsi que le déploiement des nouvelles générations de plateformes
de données de type Big Data, associées aux technologies d’apprentissage de l’IA et des Blockchains. La
Blockchain, en tant que technologie de rupture, validée au niveau national4
, est au cœur de la sécurisation
des transactions générées au sein des infrastructures portuaires et des plateformes de données des smart ports. La société SOGET issue de la communauté portuaire havraise est aujourd’hui un des leaders mondiaux
de développements de PCS (Port Community Systems). Son association avec les chercheurs du domaine des
STIC du LITIS vise à intégrer toutes ces technologies dans les systèmes d’information portuaires qu’elle
développe. C’est un enjeu majeur qui transformera ceux-ci en de véritables tiers de confiance au sein des
futures solutions numériques intelligentes.  </p>
        </div>
    </section>

    <section>
        <div class="highlight">
            <div class="subsection">
               <p><strong>En résumé,</strong> SmartLogilab est un centre d'expertise à la pointe de la recherche en technologies de l'information. Il est au service du territoire pour accompagner la transformation numérique et fournir des solutions en IA et en blockchains au sein de l'information portuaire.</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}