{# projet/templates/Membres.html: #}
{% extends "layout.html" %}
  {% block content %}
    <h2>SOGET</h2>
    <div class="subsection">
      <p>SOGET est née de l'ambition collective de la communauté portuaire havraise de se doter d'un outil efficient
pour optimiser et sécuriser les processus liés au passage de la marchandise. En ce début des années 80, seules
quelques communautés portuaires pionnières en Europe investissent dans la digitalisation de leurs
opérations.
Avec plus de 50 références sur 4 continents et 8 pays, SOGET occupe une position de leader mondial du Port
Community System. Reconnue comme spécialiste des systèmes intelligents et sécurisés alliant maîtrise des
processus métiers et excellence technologique, l’entreprise a déployé S)ONE (4e génération) sur les ports de
l’Axe Seine, en RDC et en Jamaïque.
Les principaux concurrents de SOGET sont des sociétés étrangères (Web Fontain, Crimson Logic,…)
régulièrement mises en concurrence lors d’appels d’offres internationaux auxquels SOGET répond.
Depuis quelques années, on observe la structuration des acteurs / opérateurs présents en Europe ainsi que
l’arrivée de nouveaux acteurs sur le marché des PCS : sociétés du numérique spécialisées dans des domaines
connexes ainsi que d’importants opérateurs logistiques globaux.
Dans un marché mondialisé ultra concurrentiel, il reste des opportunités sur des marchés géographiques peu
développés ou pas encore saturés (Amériques, Centre Asie, Afrique, ports intérieurs européens).
L’émergence des nouvelles technologies annonce une 4ème ère industrielle pour développer de nouvelles
offres liées à l’intelligence des données comme outils d’aide à la décision, de gestion des flux en temps réel,
et l’automatisation des opérations logistiques, ... en combinaison avec l’IA, l’IoT, la Smart Robotics et la
puissance de traitement offerte par la 5G. L’ambition digitale internationale portant sur la digitalisation et la facilitation des échanges ainsi que le
soutien des pouvoirs publics français pour la coopération numérique constituent des éléments favorables au
domaine d’activité de SOGET.</p>
    </div>
    <h2>LITIS</h2>
    <div class="subsection">
      <p>Le LITIS est un laboratoire de recherche composé de 7 équipes de recherche avec des thématiques aussi
variées que l'analyse de documents, l'apprentissage, l'intelligence artificielle, la vision, les systèmes de
transport intelligent, l'imagerie médicale, etc. Au Havre, l'équipe RI2C développe des travaux autour des
réseaux complexes, de l’Intelligence Artificielle, de l'Internet des Objets, de la Recherche Opérationnelle et
de la Blockchain. Elle est fortement impliquée dans de nombreux projets de recherche à l'échelle régionale,
nationale et internationale. Plusieurs publications dans des conférences et des revues internationales
viennent attester de la qualité scientifique des travaux menés au sein de cette équipe19. Les chercheurs
impliqués dans ce projet sont principalement issus du LITIS, complétés par quelques chercheurs issus
d’autres laboratoires notamment de la structure fédérative SFLog qui vise à réunir des chercheurs issus de
disciplines diverses dont la logistique est un de leur champ d’application et également le CERMUD,
laboratoire de Droit. La complémentarité des compétences est pertinente et nécessaire pour la mise en
œuvre opérationnelle du SmartLogLab à la fois pour la programmation des premières années décrites plus
loin, mais également, pour la stratégie de pérennisation du laboratoire. Les chercheurs concernés et leur
spécialité sont Cyrille Bertelle (Systèmes complexes et Blockchain), Claude Duvallet (IoT et Blockchain),
Patrick Barban (Droit et Blockchain), Hadhoum Boukachour (Blockchain), Éric Sanlaville (Recherche
Opérationnelle pour les systèmes logistiques portuaires), Damien Olivier (Intelligence Artificielle), Laurent
Amanton (Systèmes d’Information Distribués), Yoann Pigné et Stefan Balev (Graphes dynamiques), Rodolphe
Charrier (Systèmes complexes et Machine Learning), Frédéric Guinand (Réseaux distribués), Dominique
Fournier (Data Mining, machine learning), Christophe Duhamel (Systèmes d’Aide à la décision) et Frank
Guérin (Gestion des processus logistiques). </p>
    </div>


{% endblock %}